@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar Personalizada */
.custom-scrollbar {
  scrollbar-width: thin; /* Para Firefox: afina o scrollbar */
  scrollbar-color: #cbd5e1 transparent; /* Cor do polegar e fundo transparente */
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Bem fino para não ocupar espaço */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fundo invisível */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* Cinza claro suave */
  border-radius: 10px; /* Bordas arredondadas */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* Fica um pouco mais escuro ao passar o mouse */
}