@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Fontes */
  --font-sans: "Roboto Flex", system-ui, sans-serif;

  /* Cores Prime */
  --color-prime-azul: #116f98;
  --color-prime-azul-25: rgba(17,111,152,0.25);
  --color-prime-azul-logo: #14a1dd;
  --color-prime-cinza-card: #b0c5ce;
  --color-prime-preto: #424a4d;
  --color-prime-preto-60: rgba(66,74,77,0.6);
  --color-prime-preto-50: rgba(66,74,77,0.5);
  --color-prime-branco-bord: #e6e6e6;
  --color-prime-card-bg: #f6f6f6;
  --color-prime-board-bg: #f9f9f9;
  --color-prime-white: #ffffff;

  /* Border Radius */
  --radius-logo: 16px;
  --radius-col: 10px;
  --radius-card: 10px;
  --radius-prazo: 4px;
  --radius-search: 8px;
  --radius-proj: 8px;
  --radius-modal: 15px;
  --radius-desc: 25px;
  --radius-form: 7px;
  --radius-btn: 10px;

  /* Espaçamentos (Spacing) */
  --spacing-sidebar: 260px;
}

@layer base {
  html,
  #root {
    @apply min-h-screen w-full;
  }

  body {
    @apply font-sans bg-prime-white text-prime-preto min-h-screen w-full flex m-0 p-0;
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
